page-login {
  .google-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .signup-buttons {
    margin-top: 3rem;
  }

  .abcRioButtonContentWrapper {
    border: 1px solid transparent;
  }
  .abcRioButtonContentWrapper {
    height: 100%;
    width: 100%;
  }
  .abcRioButton {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.218s, border-color 0.218s,
      box-shadow 0.218s;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
    background-color: #fff;
    background-image: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 240px;
  }

  .abcRioButtonBlue {
    background-color: #4285f4 !important;
    border: none;
    color: #fff;
  }

  .abcRioButtonGradient {
    background: linear-gradient(
      to left,
      color($colors, orangeish),
      color($colors, darkish-pink)
    ) !important;
    border: none;
    color: #fff;
  }

  .abcRioButtonContents {
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
  }

  .abcRioButtonBlue .abcRioButtonIcon {
    background-color: #fff;
    -webkit-border-radius: 1px;
    border-radius: 1px;
  }

  .abcRioButtonGradient .abcRioButtonIcon {
    background-color: #fff;
    color: color($colors, orangeish);
    -webkit-border-radius: 1px;
    border-radius: 1px;
  }

  .abcRioButtonIcon {
    float: left;
  }

  .signup-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .signup-button {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 240px;
    height: 50px;
  }
}
