app-damage-map {
  .damage-value {
    padding-left: 1rem !important;
  }

  .player-0 {
    color: #5394d8;
  }

  .player-1 {
    color: #e65757;
  }

  .player-2 {
    color: #f98751;
  }

  .player-3 {
    color: #40c695;
  }

  .player-extra {
    color: #986fe5;
  }

  .damage-img {
    margin: auto;
  }

  .img-holder {
    height: 300px;
    display: flex;
  }
}
