page-matches {
  .header-image {
    background-size: cover;
  }

  mat-card {
    background: linear-gradient(
      to right,
      color($colors, dark-five),
      color($colors, dirty-purple)
    );
  }

  img {
    max-width: initial;
  }

  .container {
    position: relative;
    width: 100%;
  }

  .map-image {
    height: 150px;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: -40px;
    bottom: 4px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .player-count {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .matches-button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    width: 100%;
  }

  .match-desc {
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .player-0 {
    color: #5394d8;
  }

  .player-1 {
    color: #e65757;
  }

  .player-2 {
    color: #f98751;
  }

  .player-3 {
    color: #40c695;
  }

  .player-extra {
    color: #986fe5;
  }
}
