<ion-header>

  <ion-navbar [color]="'primary'">
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="player">{{ player.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="loadMatches($event)">
    <ion-refresher-content pullingIcon="md-arrow-down"
                           pullingText="Pull to refresh matches"
                           refreshingSpinner="crescent"
                           refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <mat-list *ngFor="let match of (matches$ | async)">
    <mat-card>
      <div class="container">
        <img mat-card-image
             src="../assets/img/pubg-assests/{{match.map === 'Desert_Main' ? 'miramar' : 'erangel'}}_minimap_small.jpg"
             class="map-image">
        <div mat-card-image
             class="overlay">
          <ng-container *ngIf="match.gameMode.includes('solo')">
            <img class="player-count"
                 src="../../assets/img/ic-solo@3x.png"
                 height="25px">
          </ng-container>
          <ng-container *ngIf="match.gameMode.includes('duo')">
            <img class="player-count"
                 src="../../assets/img/ic-duo@3x.png"
                 height="25px">
          </ng-container>
          <ng-container *ngIf="match.gameMode.includes('squad')">
            <img class="player-count"
                 src="../../assets/img/ic-squard@3x.png"
                 height="25px">
          </ng-container>
        </div>
      </div>
      <!-- <img mat-card-image
           src="../assets/img/pubg-assests/{{match.map === 'Desert_Main' ? 'miramar' : 'erangel'}}_minimap_small.jpg"
           class="map-image"> -->
      <div>
        <div class="match-desc">
          <span>Rank #{{ match.team.stats.rank }}
            <span *ngIf="match.team.stats.won">Winner Winner Chicken Dinner</span>
          </span>
          <span>
            <ion-icon name="ios-locate-outline"></ion-icon>
            {{ match.player.stats.kills }}
          </span>
        </div>
        <div class="match-desc">
          <span>{{ match.duration | date:'mm:ss' }}</span>
          <span>{{ match.date | date:'shortDate' }}</span>
        </div>
      </div>
      <mat-card-content>
        <p *ngIf="!match.gameMode.includes('solo')">
          <ng-container *ngFor="let teammate of match.team.teammates; let i = index; let last = last">
            <span [ngClass]="'player-' + (i <= 3 ? i : 'extra')">{{teammate.stats.name}}</span>
            <span *ngIf="!last">, </span>
          </ng-container>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="matches-button gradient-button"
                mat-raised-button
                (tap)="openMatch(match)">
          View Match
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-list>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let match of (matches$ | async)">
      <button ion-item
              (click)="openMatch(match)">
        <ng-container match-start>
          <div class="parallax"
               [ngClass]="match.map === 'Desert_Main' ? 'miramar' : 'erangel'"></div>
        </ng-container>
        <div class="flex space-between">
          <div>
            <h2>
              <ng-container *ngIf="match.gameMode.includes('solo')">
                <ion-icon name="md-person"></ion-icon>
              </ng-container>
              <ng-container *ngIf="match.gameMode.includes('duo')">
                <ion-icon name="md-people"></ion-icon>
              </ng-container>
              <ng-container *ngIf="match.gameMode.includes('squad')">
                <ion-icon name="md-people"></ion-icon>
                <ion-icon name="md-people"></ion-icon>
              </ng-container>
              {{ match.duration | date:'mm:ss' }}
            </h2>

            <h2>Rank #{{ match.team.stats.rank }}
              <span *ngIf="match.team.stats.won">Winner Winner Chicken Dinner</span>
            </h2>
            <p *ngIf="!match.gameMode.includes('solo')">
              <ng-container *ngFor="let teammate of match.team.teammates; let last = last">
                {{teammate.stats.name}}
                <span *ngIf="!last">, </span>
              </ng-container>
            </p>
          </div>
          <div>
            <h2>
              {{ match.date | date:'shortDate' }}
            </h2>
            <h2>
              <ion-icon name="ios-locate-outline"></ion-icon>
              {{ match.player.stats.kills }}
            </h2>
          </div>
        </div>
      </button>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
