<ion-header>

  <ion-navbar [color]="'primary'">
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="player">{{ player.username }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="flex-grid"
       *ngIf="followingLoaded && following && following.length > 0">
    <ng-container *ngFor="let favorite of following; let i = index">
      <div (tap)="toFavorite(favorite)"
           class="col"
           [ngClass]="{
             'background-1': favorite.portrait === 1,
             'background-2': favorite.portrait === 2,
             'background-3': favorite.portrait === 3,
             'background-4': favorite.portrait === 4
           }">
        <div class="title">{{favorite.username}}</div>
      </div>
    </ng-container>
  </div>
</ion-content>
