// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: '../assets/fonts';

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #ffffff;
$background-color: #272b3a;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// primary:    #488aff,

$colors: (
  primary: #272b3a,
  secondary: #f2a900,
  gradient-left: #e25f65,
  gradient-right: #fa8850,
  boxes: #363649,
  orangeish: #fe8f4d,
  dusk: #454a79,
  dusk-two: #425079,
  purplish-brown: #684e50,
  greyish-brown: #685350,
  dark-two: #313449,
  dark-grey-blue: #355b5d,
  slate: #395a5e,
  dark: #313448,
  dusk-three: #4d396b,
  dusk-four: #614e76,
  dark-three: #272b3a,
  dark-four: #1d1f2b,
  orangish: #fa8850,
  charcoal-grey-0: rgba(52, 54, 72, 0),
  darkish-pink: #e15e65,
  purplish-brown-two: #56454a,
  charcoal-grey: #42384c,
  dirty-purple: #463d4a,
  dark-five: #323649,
  dark-orangish: #b44347,
  purplish-brown-three: #684454,
  dirty-purple-two: #68455b,
  charcoal-grey-two: #333648
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// non selected background #1d1f2b
// $segment-button-ios-background-color: color($colors, orangeish) !important;
$segment-button-md-text-color-activated: #f5f0ef !important;
// non selected text #61626b

// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import 'ionic.theme.default';
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import 'ionic.ionicons';
// Fonts
// --------------------------------------------------
@import 'roboto';
@import 'noto-sans';
