// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .parallax {
//   height: 100px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
// }

app {
  font-family: 'Nunito Sans', sans-serif;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.miramar {
  background-image: url('../assets/img/pubg-assests/miramar_minimap_small.jpg');
}

.erangel {
  background-image: url('../assets/img/pubg-assests/erangel_minimap_small.jpg');
}

.sanhok {
  background-image: url('../assets/img/pubg-assests/sanhok_minimap_small.jpg');
}

.gradient-button {
  background: linear-gradient(
    to left,
    color($colors, orangeish),
    color($colors, darkish-pink)
  ) !important;
  border-radius: 2px;
}

.segment-button {
  background-color: color($colors, dark-four) !important;
}

.segment-button.segment-activated {
  background-image: linear-gradient(
    to bottom,
    rgba(52, 54, 72, 0),
    rgba(250, 137, 80, 0.2)
  ) !important;
  border-bottom: solid 2px color($colors, orangeish) !important;
}

.toolbar-background-md {
  background: transparent !important;
  background-color: #1d1f2b !important;
}

.toolbar-md-primary .toolbar-background-md {
  background-color: color($colors, dark-four) !important;
}

.mat-divider {
  color: #4c4a5b;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.toolbar-title,
.details-header h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
.Player-Name {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
.Stat-Title,
.panel-title span {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
.Button-Text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-align: center;
}
.Stat-Number,
.glance div {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
.Text-Style {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
.list-key {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #adaeb7;
}
.list-value {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}
.Segment-Title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: center;
}

.Stat-Key,
.glance span {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.menu-inner {
  .item-inner {
    border: none !important;
  }
  .item {
    background: none;
  }
  ion-content {
    background: linear-gradient(
      to right,
      color($colors, charcoal-grey),
      color($colors, purplish-brown-two)
    ) !important;
  }
}

.menu-header {
  .toolbar-background-md {
    background: linear-gradient(
      to right,
      color($colors, charcoal-grey),
      color($colors, purplish-brown-two)
    ) !important;
  }

  .toolbar-title {
    color: white;
  }

  .avatar {
    background-size: cover;
  }

  .mat-card {
    padding: 8px 16px !important;
    background: none;
    box-shadow: none !important;
  }

  .mat-card-avatar {
    height: 54px;
    width: 54px;
  }

  .mat-card-title {
    color: white;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .mat-card-subtitle {
    color: white;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
  }
}
