<ion-menu [content]="content">
  <ion-header class="menu-header">
    <ion-toolbar [color]="'primary'">
      <mat-card *ngIf="getPhoto(); else nonGoogle">
        <mat-card-header>
          <div mat-card-avatar
               class="avatar"
               [ngStyle]="{ 'background-image': 'url(' + getPhoto() + ')'}"></div>
          <mat-card-title>{{ getName() }}</mat-card-title>
          <mat-card-subtitle>{{ getEmail() }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <ng-template #nonGoogle>
        <ion-title>{{ getDisplayValue() }}</ion-title>
      </ng-template>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose
              ion-item
              *ngFor="let p of pages"
              (click)="openPage(p)">
        {{p.title}}
      </button>

      <button *ngIf="player$ | async"
              menuClose
              ion-item
              (click)="openPage({component: 'PlayerPage'})">
        Player Details
      </button>

      <button *ngIf="player$ | async"
              menuClose
              ion-item
              (click)="openPage({component: 'MatchesPage'})">
        Player Matches
      </button>
    </ion-list>
    <ion-list class="bottom">
      <ion-item menuClose
                (click)="logout()"
                *ngIf="auth.authenticated">
        Log out
      </ion-item>

      <ion-item menuClose
                (click)="login()"
                *ngIf="!auth.authenticated">
        Log in
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [color]="'primary'"
         #content
         [root]="rootPage"></ion-nav>
