<ion-menu [content]="content">
  <ion-header class="menu-header">
    <ion-toolbar>
      <mat-card *ngIf="getPhoto(); else nonGoogle">
        <mat-card-header>
          <div mat-card-avatar
               class="avatar"
               [ngStyle]="{ 'background-image': 'url(' + getPhoto() + ')'}"></div>
          <mat-card-title>{{ getName() }}</mat-card-title>
          <mat-card-subtitle>{{ getEmail() }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <ng-template #nonGoogle>
        <ion-title>{{ getDisplayValue() }}</ion-title>
      </ng-template>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-nav">
    <ion-list>
      <button menuClose
              ion-item
              *ngFor="let p of pages"
              (click)="openPage(p)">
        {{p.title}}
      </button>

      <button *ngIf="player && player.name"
              menuClose
              ion-item
              (click)="openPage({component: 'PlayerPage'})">
        {{ player.name }}
      </button>

      <button *ngIf="getUserPlayer() && (!this.player || this.player && this.player.name !== getUserPlayer().username)"
              menuClose
              ion-item
              (click)="toUserPlayer()">
        {{ getUserPlayer().username }}
      </button>

      <button *ngIf="getFollowing()"
              menuClose
              ion-item
              (click)="toFollowing()">
        Favorites
      </button>

      <button ion-item
              menuClose
              (click)="login()"
              *ngIf="!auth.authenticated">
        Log in
      </button>
    </ion-list>
    <div class="bottom">
      <ion-list>
        <button ion-item
                menuClose
                (click)="toDonate()">
          Donate
        </button>

        <ion-item ion-item
                  menuClose
                  (click)="logout()"
                  *ngIf="auth.authenticated">
          Log out
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-menu>
<ion-nav [color]="'primary'"
         #content
         [root]="rootPage"></ion-nav>
