page-match-details {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 215px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .mat-list-text {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
  }
}
