<ion-header>

  <ion-navbar>
    <ion-title>{{ match.date | date:'shortDate' }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile"
       text-center
       #profilePic
       [ngClass]="match.map === 'Desert_Main' ? 'miramar' : 'erangel'">
  </div>

  <div class="item-detail"
       padding>
    <h2>Rank #{{ match.team.stats.rank }}</h2>
    <h2 *ngIf="match.team.stats.won">Winner Winner Chicken Dinner</h2>
    <ion-list>
      <ion-item *ngFor="let teammate of match.team.teammates">
        <div class="flex space-between">
          <h2>{{ teammate.stats.name}}</h2>
          <h2>
            <ion-icon name="ios-locate-outline"></ion-icon>
            {{ teammate.stats.kills }}
          </h2>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
