page-match-details {
  .item-profile,
  #map {
    width: 100vw;
    background-position: center center;
    background-size: cover;
    height: 100vw;
  }

  .fixed-height {
    height: 215px;
  }

  .item-detail {
    width: 100%;
    background: white;
    z-index: 1;
    position: absolute;
    top: calc(100vw / 2);
    // position: absolute;
  }

  .mat-list-text {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
  }
}
