<ion-header>

  <ion-navbar [color]="'primary'">
    <ion-title *ngIf="player">{{ player.name }}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment *ngIf="segment"
                 [(ngModel)]="segment">
      <ion-segment-button *ngFor="let season of seasons"
                          (click)="changeSeason(season.id)"
                          [value]="season.id">
        {{ season.verbose }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <button mat-raised-button
          (tap)="toMatches()">
    Matches
  </button>
  <div *ngIf="season && playerDetails">
    <h2>{{ season.verbose }} Details</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let stats of playerDetails; let first = first"
                           [expanded]="first">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ stats.key }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{ stats | json }}
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</ion-content>
