<ion-header>

  <ion-navbar>
    <ion-title>{{ player.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="matches">
    <ion-item-sliding *ngFor="let match of matches">
      <button ion-item>
        <ion-avatar match-start>
          <img src="assets/img/miramar.jpg" />
        </ion-avatar>
        <ng-container *ngIf="match.gameMode.includes('solo')">
          <h2>
            <ion-icon name="md-person"></ion-icon>
          </h2>
        </ng-container>
        <ng-container *ngIf="match.gameMode.includes('duo')">
          <h2>
            <ion-icon name="md-people"></ion-icon>
          </h2>
        </ng-container>
        <ng-container *ngIf="match.gameMode.includes('squad')">
          <h2>
            <ion-icon name="md-people"></ion-icon>
            <ion-icon name="md-people"></ion-icon>
          </h2>
        </ng-container>
        <p>
          <ng-container *ngFor="let teammate of match.team.teammates">
            {{teammate.stats.name}},
          </ng-container>
        </p>
        <ion-note item-end>
          Duration {{ match.duration }}
        </ion-note>
      </button>
      <ion-item-options>
        <button ion-button
                color="danger">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
