<ion-header>

  <ion-navbar>
    <ion-title>List Title</ion-title>

    <ion-buttons end>
      <button ion-button
              icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="matches">
    <ion-item-sliding *ngFor="let match of matches">
      <button ion-item>
        <ion-avatar match-start>
          <img src="assets/img/miramar.jpg" />
        </ion-avatar>
        <h2>{{ match.data.attributes.gameMode | uppercase }}</h2>
        <p>A test of the sliding list thing for the pubg viewer</p>
        <ion-note item-end>Duration {{ match.data.attributes.duration }}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button
                color="danger">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
